<!--This is an empty Razor View file-->
<!--Again, this is part of the Shared folder and is in all pages.-->

<!--Not sure how this text is automatically centered-->
<div class="row text-center">
    <h1 class="text-info">What You're Looking For Does Not Exist</h1>
    <div>
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Go Back To Home</a>
    </div> 
</div>  